<!DOCTYPE html>
<html lang="en">
<!--
                                          ,s555SB@@&
                                       :9H####@@@@@Xi
                                      1@@@@@@@@@@@@@@8
                                    ,8@@@@@@@@@B@@@@@@8
                                   :B@@@@X3hi8Bs;B@@@@@Ah,
              ,8i                  r@@@B:     1S ,M@@@@@@#8;
             1AB35.i:               X@@8 .   SGhr ,A@@@@@@@@S
             1@h31MX8                18Hhh3i .i3r ,A@@@@@@@@@5
             ;@&i,58r5                 rGSS:     :B@@@@@@@@@@A
              1#i  . 9i                 hX.  .: .5@@@@@@@@@@@1
               sG1,  ,G53s.              9#Xi;hS5 3B@@@@@@@B1
                .h8h.,A@@@MXSs,           #@H1:    3ssSSX@1
                s ,@@@@@@@@@@@@Xhi,       r#@@X1s9M8    .GA981
                ,. rS8H#@@@@@@@@@@#HG51;.  .h31i;9@r    .8@@@@BS;i;
                 .19AXXXAB@@@@@@@@@@@@@@#MHXG893hrX#XGGXM@@@@@@@@@@MS
                 s@@MM@@@hsX#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&,
               :GB@#3G@@Brs ,1GM@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@B,
             .hM@@@#@@#MX 51  r;iSGAM@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@8
           :3B@@@@@@@@@@@&9@h :Gs   .;sSXH@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@:
       s&HA#@@@@@@@@@@@@@@M89A;.8S.       ,r3@@@@@@@@@@@@@@@@@@@@@@@@@@@r
    ,13B@@@@@@@@@@@@@@@@@@@5 5B3 ;.         ;@@@@@@@@@@@@@@@@@@@@@@@@@@@i
   5#@@#&@@@@@@@@@@@@@@@@@@9  .39:          ;@@@@@@@@@@@@@@@@@@@@@@@@@@@;
   9@@@X:MM@@@@@@@@@@@@@@@#;    ;31.         H@@@@@@@@@@@@@@@@@@@@@@@@@@:
    SH#@B9.rM@@@@@@@@@@@@@B       :.         3@@@@@@@@@@@@@@@@@@@@@@@@@@5
      ,:.   9@@@@@@@@@@@#HB5                 .M@@@@@@@@@@@@@@@@@@@@@@@@@B
            ,ssirhSM@&1;i19911i,.             s@@@@@@@@@@@@@@@@@@@@@@@@@@S
               ,,,rHAri1h1rh&@#353Sh:          8@@@@@@@@@@@@@@@@@@@@@@@@@#:
             .A3hH@#5S553&@@#h   i:i9S          #@@@@@@@@@@@@@@@@@@@@@@@@@A.


     又看源码，看你妹妹呀！
-->
  <head>
    <meta charset="UTF-8" />
    <title>3D天体运行动画DEMO演示</title>
    <link rel="icon" href="/static/img/avatar.png">
    <link rel="stylesheet" href="/static/css/3d_planet.css" />
    <link rel="stylesheet" href="/static/css/xxb.css" />
  </head>
  <body>
    <div id="container">
      <h1 id="hello" data-text="Hi,Friend">Hi~ Friend</h1>
    </div>
    <!-- 加载3d星球 -->
    <script src="/static/js/3d_planet/three.min.js"></script>
    <script src="/static/js/3d_planet/CopyShader.js"></script>
    <script src="/static/js/3d_planet/EffectComposer.js"></script>
    <script src="/static/js/3d_planet/FilmPass.js"></script>
    <script src="/static/js/3d_planet/FilmShader.js"></script>
    <script src="/static/js/3d_planet/ShaderPass.js"></script>
    <script src="/static/js/3d_planet/RenderPass.js"></script>
    <script src="/static/js/3d_planet/index.js"></script>

    <!-- 加载live2d-->
    <!-- xxb-->
    <script src="/static/js/live2d/xxb.min.js"></script>
    <!-- cat -->
    <script src="/static/js/live2d/cat.min.js"></script>
    <!-- 其他 -->
    <script src="/static/js/live2d/other.min.js"></script>
    <!-- live2d show -->
    <script src="/static/js/CanvasShow.js"></script>
  </body>
</html>
